# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# ===============================
# Go
# ===============================
**/bin/
**/dist/
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib

**/go.work
**/go.sum

# Go test / coverage
**/*.test
**/*.out

# ===============================
# Node.js
# ===============================
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Build outputs
**/dist/
**/build/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Docker
# ===============================
**/.dockerignore

# ===============================
# Logs
# ===============================
**/*.log

# ===============================
# Temporary files
# ===============================
**/*.tmp
**/*.swp
**/*~
